.projects-area {
    margin-top: 3rem;
}

.project-box-title {
    font-size: 2rem;
}

.projects-text-area {
    background-color: #C10F0F;
    margin: 1rem;
    padding: 1rem;
    border-radius: 30px;
    color: #EDECEC;
}

.project-box {
    border: solid #EDECEC 0px;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 0;
    margin-top: 3rem;
}

.project-box-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.project-box-link {
    color: #EDECEC;
    font-weight: 600;
    text-decoration: none;
}

.project-box-date {
    font-style: italic;
}

.project-rule {
    width: 70%;
    border: solid 1px #EDECEC;
}



@media (max-width:900px) and (min-width:481px) {
    .projects-text-area {
        background-color: #C10F0F;
        margin: 3rem;
        padding: 3rem;
        border-radius: 30px;
        color: #EDECEC;
    }
}

@media (min-width:901px) {

    .projects-area {
        margin-top: 7rem;
    }

    .project-box {
        border: solid #EDECEC 0px;
        border-radius: 10px;
        padding: 1rem;
        padding-top: 0;
        margin-top: 0rem;
        transition: transform .2s;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }

    .project-box:hover {
        transform: scale(1.1);
    }

    .projects-text-area {
        background-color: #C10F0F;
        margin: 3rem 10%;
        padding: 3rem;
        border-radius: 30px;
        color: #EDECEC;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        animation-name: fadein;
        animation-duration: 2s;
    }

    .flex-container-project {
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }

    .project-box {
        width: 44%;
    }

    .vertical-line {
        border-left: solid 2px #EDECEC;
        width: 1%
      }
}
